<div class="min-h-screen d-app p-6 grid justify-center place-content-center">
    <div class="d-surface max-w-xl min-w-md">
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="grid p-8">

            <h1 class="text-xl font-semibold">Login</h1>

            <label class="text-d-muted mt-1 pt-4">
                Username
                <input class="d-input" type="username" formControlName="username" autocomplete="username" />
            </label>
            <div *ngIf="form.controls.username.touched">
                <small *ngIf="form.controls.username.errors?.['required']">Username is required.</small>
            </div>

            <label class="text-d-muted mt-1  pb-4">
                Password
                <input class="d-input" type="password" formControlName="password" autocomplete="current-password" />
            </label>
            <div *ngIf="form.controls.password.touched && form.controls.password.invalid"
                class="grid justify-center place-content-center pb-4">
                <small class="text-d-warn" *ngIf="form.controls.password.errors?.['required']">Password is
                    required.</small>
                <small class="text-d-warn" *ngIf="form.controls.password.errors?.['minlength']">
                    Password must be at least 8 characters.
                </small>
            </div>

            <p *ngIf="serverError() as err" class="text-d-danger pb-4">{{ serverError() }}</p>

            <button class="d-btn d-btn-primary" type="submit" [disabled]="loading() || form.invalid">
                {{ loading() ? 'Signing in…' : 'Sign in' }}
            </button>
        </form>
    </div>
</div>